.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}
.NavHead {
  background-color: lightgray;
  text-align: -webkit-center;
  /*position: fixed;*/
  width: 100vw;
  min-height: 5vh;
  top: 0;
  left: 0;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
 
  text-align: -webkit-center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.carta {
  text-align: -webkit-center;
  
}

a {
  margin-left: 25px;
  text-decoration: none;
  font-weight: bold;
}

.fotRect {
  background-color: aqua;
  
  position: fixed;
  width: 100vw;
  text-align: -webkit-center;
  width: 100vw;
  left: 0;
  bottom:0;
}

.Router {
  position:sticky
}